---
import "../styles/global.css";
import "@fontsource/instrument-serif";
import "@fontsource-variable/dm-sans";
import Navbar from "../components/Navbar.astro";
import WaitlistButton from "../components/WaitlistButton.tsx";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="See what's coming next for Halo and our journey to transform personal safety."
    />
    <title>Halo - Roadmap</title>
  </head>
  <body class="font-sans">
    <main>
      <Navbar />
      <div class="h-screen flex items-center justify-center">
        <div class="space-y-10 max-w-2xl">
          <div class="text-6xl font-serif">Roadmap</div>
          <div>Coming soon...</div>
          <WaitlistButton
            className="bg-black text-white py-1.5 text-sm rounded-md hover:bg-black/80 transition-colors ease-in-out duration-500 cursor-pointer px-2.5"
            client:load>Follow to stay updated &gt;</WaitlistButton
          >
        </div>
      </div>
      <Footer />
    </main>
  </body>
</html>
